
@keyframes rotate360deg {
    form{
        transform: scale(1); 
    }

    to{
        transform: scale(1.2); 
    }
}

.container{
    width: 1140px;
    margin: 100px auto;
    padding: 50px;
}
    
.container ul{
    margin: 0;
    padding: 0;
        
}

.container ul li{
    list-style-type: none;
    display: inline-block;
    background: darkblue; 
    /* padding: 20px; */
    width: 60px;
    height: 60px;  
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    margin: 0px 5px;
    border: 1px solid darkblue;
    transition: 0.5s;
}      

.container ul li:hover i{
    transform: scale(1.3); 
    /*transform: rotate(360deg); */
    transition: 0.5s;
}

.container ul li a{
       
}

.container ul li a i{
    color: white;
    font-size: 25px;
    animation: rotate360deg 2s linear infinite; 
}    
   
.fb{
    background-color: red !important;
}
























